.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#todos-body {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.todo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
